# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyd

# Logs and data
*.log
*.csv
*.db
data/*.csv
logs/
backup/

# Environment
.env
.venv/
env/
venv/
.idea/
.DS_Store

# Jupyter/IPython
.ipynb_checkpoints

# System
Thumbs.db
ehthumbs.db

# VSCode
.vscode/

# Pip cache or wheels
*.whl
pip-wheel-metadata/

# Pytest or coverage
htmlcov/
.tox/
.coverage

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
